.answer-wrapper{
    width:300px;
    height: 50px;
    margin: 20px;
    border-radius: 25px;
    border: 1px solid;
    padding: 3px;
    border-image: linear-gradient(45deg, purple, orange) 1;
}
.button-wrapper{
    margin-top: 50px;
}
.question-wrapper{
    margin: 100px auto;
    padding: 40px;
    height: 200px;
    border: 1px solid;
    border-image: linear-gradient(45deg, purple, orange) 1;
}
.score-wrapper{
    margin-top: 100px;
}
.top-score-wrapper{
    margin-top: 100px;
}


.wrong-answer {
    background-color: red;
}

.correct-answer {
    background-color: green;
}

.wrong-animate {
    animation: shakeanimate 1s ease infinite;
}
@keyframes shakeanimate {
    30% { transform: scale(1.2); }
    40%, 60% { transform: rotate(-20deg) scale(1.2); }
    50% { transform: rotate(20deg) scale(1.2); }
    70% { transform: rotate(0deg) scale(1.2); }
    100% { transform: scale(1); }
}

.correct-animate {
    animation: flash 500ms ease infinite alternate;
}
@keyframes flash {
    from { opacity: 1; }
    to { opacity: 0; }
}

